<%= form_for [@artist, @artist.songs.new] do |f| %>
  <div class="song-form">
    <%= f.text_field :title, placeholder: "Add a song!", class:"form-field" %>
    <%= f.hidden_field :artist_id, value: @artist.id %>
    <%# if song.error.any? %>
      <%# song.errors.full_messages.each do |message| %>
        <!-- <span class="error-message"><%#= message %></span> -->
      <%# end %>
    <%# end %>
  </div>
<% end %>
