<% @artist.songs.each do |song| %>

<tr class="song" data-id="<%=song.id %>">
  <td>
    <div>
    <button id="remove-song">X</button>
    </div>
  </td>

  <td>
    <label for="song-<%=song.id%>" id="song-title"><%=song.title%></label>
  </td>
</tr>

<% end %>
